@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/space_mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/space_mono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/space_mono/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.debug {
  border: 1px solid red;
}

*::-moz-selection {
  background-color: rgba(0, 0, 255, 0.5);
  height: 100%;
}

*::selection {
  background-color: rgba(0, 0, 255, 0.5);
  height: 100%;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1200px) and (min-width: 0) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 0) {
  html {
    font-size: 9px;
  }
}

body {
  background-color: #f2f1f1;
  font-family: "Space Mono", cursive;
}

main {
  width: 80rem;
  margin: auto;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  main {
    width: 90%;
  }
}

p {
  line-height: 1.2;
  text-align: justify;
}

p strong {
  font-weight: bold;
}

a.inline {
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border-bottom: black 2px solid;
}

a.inline:hover {
  border-bottom-color: transparent;
}

body > aside {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem auto;
  font-size: 1.5rem;
}

header {
  margin-top: 11rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 10rem;
  }
}

header img {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  display: inline-block;
  border: 3px solid black;
  width: 100%;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  header img {
    width: 60%;
  }
}

header article {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  width: 100%;
  padding: 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  header article {
    padding: 0;
  }
}

header article h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  font-size: 4rem;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  header article h1 {
    margin: 2rem 0;
  }
}

header article p {
  font-size: 2rem;
  width: 100%;
}

header article #news {
  margin-top: 3rem;
  font-size: 1.6rem;
  position: relative;
  margin-left: 3rem;
  padding-left: 1rem;
  border-left: 3px solid black;
}

header article #news::before {
  content: "📬";
  position: absolute;
  left: -3rem;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  header article #news {
    width: 90%;
  }
}

section {
  margin: 10rem 0;
}

section > p {
  font-size: 2rem;
}

section h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

section h2::before {
  content: "#";
  margin-right: 1rem;
}

section#about p {
  font-size: 2rem;
}

section#about p + p {
  margin-top: 5rem;
}

section#about p:nth-of-type(1):before {
  content: "📚";
}

section#about p:nth-of-type(2):before {
  content: "🔭";
}

section#about p:nth-of-type(3):before {
  content: "🏃‍♂️";
}

section#portfolio > p::before {
  content: "💾";
  margin-right: 1rem;
}

section#portfolio .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

section#portfolio .project:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#portfolio .project {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

section#portfolio .project img {
  width: 48%;
  border: 3px solid black;
  margin: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#portfolio .project img {
    width: 90%;
    margin: auto;
  }
}

section#portfolio .project article {
  position: relative;
  width: 48%;
  padding: 1rem;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#portfolio .project article {
    width: 90%;
    margin: auto;
  }
}

section#portfolio .project article h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: black solid 2px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

section#portfolio .project article h4 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

section#portfolio .project article p {
  font-size: 1.3rem;
  max-height: 11rem;
  overflow: hidden;
}

section#portfolio .project article p.project-skills {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

section#portfolio .project article p.project-skills span {
  border: 2px solid black;
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: inline-block;
  padding: 0.3rem 0.5rem;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#portfolio .project article p.project-skills span {
    margin: 1rem 1rem 0 1rem;
  }
}

section#portfolio .project article a {
  display: none;
}

section#skills > p::before {
  content: "🛠️";
  margin-right: 1rem;
}

section#skills aside {
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 2rem 0;
  margin: 2rem 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: hidden;
}

section#skills aside.hidden {
  max-height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

section#skills aside img {
  float: left;
  margin-right: 1rem;
  height: 10rem;
  max-width: 12rem;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#skills aside img {
    width: 8rem;
    max-height: 8rem;
  }
}

section#skills aside article h4 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

section#skills aside article p {
  font-size: 1.5rem;
}

section#skills aside article p a + a {
  margin-left: 1rem;
  position: relative;
}

section#skills aside article p a + a::before {
  content: ", ";
  position: absolute;
  left: -1rem;
}

section#skills aside article .usage-links {
  margin-top: 1rem;
}

section#skills aside article .usage-links::before {
  content: ">";
}

section#skills article h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

section#skills article h3::before {
  content: "🔨";
  margin-right: 1rem;
}

section#skills article .skills-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 3rem;
  margin: 2rem 0;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#skills article .skills-group {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

section#skills article .skills-group img {
  max-height: 7rem;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#skills article .skills-group img {
    margin-bottom: 1rem;
    max-width: 80%;
  }
}

section#contact div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 700px) and (min-width: 0) {
  section#contact div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#contact div p {
  font-size: 2rem;
}

section#contact div aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem;
}

section#contact div aside p {
  margin-bottom: 0.5rem;
}

section#contact div aside ul#contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
}

section#contact div aside ul#contact-links a {
  height: 3rem;
  display: inline-block;
  margin: 1rem;
}

section#contact div aside ul#contact-links a img,
section#contact div aside ul#contact-links a i {
  height: 100%;
  font-size: 2.8rem;
}

section#contact div aside input,
section#contact div aside textarea,
section#contact div aside button {
  border: none;
  background-color: #d9d7d7;
  padding: 1rem;
  font-family: "Space Mono", cursive;
  margin: 0.5rem 0;
}

section#contact div aside input:focus,
section#contact div aside textarea:focus,
section#contact div aside button:focus {
  border: none;
  outline: none;
}

section#contact div aside button {
  cursor: pointer;
  padding: 0.5rem;
}

section#contact div aside button:hover {
  border: 0.3rem solid #c1bcbc;
  padding: 0.2rem;
}

section#contact div aside button:active {
  font-weight: bold;
}

section#more p + p {
  margin-top: 3rem;
}
/*# sourceMappingURL=styles.css.map */